<html>
<head>
    <meta http-equiv="Context-Type" content="text/html; charset=utf-8" />
    <title>通联支付</title>
</head>
<body>
    <form id="merInterfaceForm" name="merInterfaceForm" action="https://t.jinjiangcard.com/tlcgw/mobile/payGate" method="post"><input type="hidden" name="Amount" value="0.01" /><input type="hidden" name="bakMsg" value="" /><input type="hidden" name="MerUrl" value="http://116.236.229.43:8083/pgw/api/v1/gateway/callback/ALLINPAY/116040" /><input type="hidden" name="MerDate" value="20160825" /><input type="hidden" name="subject" value="锦江手机官网" /><input type="hidden" name="SignMD5" value="508497a65f210ee37f91ce2017d3f2cf" /><input type="hidden" name="MerCode" value="999290050650001" /><input type="hidden" name="backStageUrl" value="http://116.236.229.43:8083/pgw/api/v1/gateway/notify/ALLINPAY/116040" /><input type="hidden" name="PayType" value="01" /><input type="hidden" name="BillNo" value="1000160825000024" /></form>
    <script type="text/javascript">document.forms['merInterfaceForm'].submit();</script>
    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Safari (IPhone)","requestId":"b4e926445cf3481ba292037147414bed"}
    </script>
    <script type="text/javascript" src="http://localhost:10363/ba890d1decbc4e5fb460ff7bad333d3a/browserLink" async="async"></script>
    <!-- End Browser Link -->

</body>
</html>