<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <script>
//$(document).on("pagecreate","#pageone",function(){
//  $(document).on("scrollstop",function(){
//    //alert("停止滚动!");
//  });
//});
    </script>
</head>
<body>
    <a href="http://www.baidu.com">可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。可以滚动的文本。。</a>

    <!--<div data-role="page" id="pageone">
        <div data-role="header">
            <h1>scrollstart 事件</h1>
        </div>

        <div data-role="main" class="ui-content">
            <p><b>提示:</b> 如果没看到滚动条请重置窗口。 </p>

           
        </div>

        <div data-role="footer">
            <h1>底部文本</h1>
        </div>
    </div>-->

</body>
</html>
