a {
    text-decoration: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background: #fff url(../img/checkboxg.png);
    height: 22px;
    vertical-align: middle;
    width: 22px;
}

    input[type="checkbox"]:checked {
        background-position: -48px 0;
    }
