
<ion-view view-title="密码找回">
    <ion-content>
        <div class="forgetpwd0">
            <div class="div-ranks">
                <input type="text" id="name" class="infos" placeholder="请输入姓名" />
            </div>
            <div class="div-phone">
                <input type="text" id="phone" class="infos" placeholder="请输入手机" />
                <a href="javascript:;" class="send1" onclick="sends2.send();">发送验证码</a>
            </div>
            <div class="div-ranks">
                <input type="text" id="code" class="infos" placeholder="请输入验证码" />
            </div>
            <div class="div-ranks">
                <input type="password" id="newpwd" class="infos" placeholder="请输入新密码" />
            </div>

            <div ng-click="forgetpwd()" class="bottombutton">设置密码</div>
        </div>


    </ion-content>
</ion-view>