<style>
    @charset "utf-8";

    /** {
        margin: 0;
        padding: 0;
        list-style: none;
    }*/

    /*body {
        background: #EBECED;
        font-family: '微软雅黑';
    }*/

    .forgetpwd0 {
        width: 100%;
        height: auto;
        /*margin: 100px auto;*/
        overflow: hidden;
        font-size: 12px;
        color: #1b1b1b;
        text-align: left;
        padding: 50px;
        /*border: 1px solid #ccc;*/
        border-radius: 10px;
    }

        .forgetpwd0 div {
            padding: 5px 0;
            overflow: hidden;
        }

        .forgetpwd0 label {
            width: 90px;
            display: block;
            float: left;
        }

        .forgetpwd0 .infos {
            width: 210px;
            height: 44px;
            line-height: 44px;
            border: 1px solid #BFBFBF;
            padding: 0px 10px;
            border-radius: 4px;
            float: left;
        }

        .forgetpwd0 .div-phone a.send1 {
            height: 44px;
            text-decoration: none;
            line-height: 44px;
            padding: 2px;
            width: 90px;
            background: #5D93EE;
            font-family: '宋体';
            color: #fff;
            font-size: 12px;
            text-align: center;
            display: block;
            float: left;
            border-radius: 2px;
            margin-left: 2px;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

            .forgetpwd0 .div-phone a.send1:hover {
                text-decoration: none;
                background: #866c1b;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }

        .forgetpwd0 .div-phone a.send0 {
            height: 44px;
            text-decoration: none;
            line-height: 44px;
            padding: 2px;
            width: 90px;
            background: #A1A1A1;
            font-family: '宋体';
            color: #fff;
            font-size: 12px;
            text-align: center;
            display: block;
            float: left;
            border-radius: 2px;
            margin-left: 2px;
        }

            .forgetpwd0 .div-phone a.send0:hover {
                background: #A1A1A1;
                font-family: '宋体';
                color: #fff;
                font-size: 12px;
                text-decoration: none;
            }

        .forgetpwd0 span.error {
            height: 24px;
            line-height: 24px;
            padding: 2px;
            width: 100px;
            color: red;
            padding-left: 20px;
            display: block;
            float: left;
            margin-left: 10px;
            font-size: 12px;
            font-family: '宋体';
            /*background: url(../images/error.png) no-repeat left center;*/
        }

        .forgetpwd0 #phone {
            width: 116px;
        }

        .forgetpwd0 .div-conform {
            padding-right: 153px;
        }

            .forgetpwd0 .div-conform a.conform {
                width: 136px;
                height: 4px;
                display: block;
                text-align: left;
                overflow: hidden;
                /*background: url(../images/btn.jpg) no-repeat;*/
                float: right;
                text-indent: -1000px;
            }
                .forgetpwd0 .bottombutton {
        font-weight: bold;
        height: 50px;
        background-color: #ff7200;
        line-height: 50px;
        text-align: center;
        color: white;
        width: 95%;
    }
</style>
<ion-view view-title="密码找回">
    <ion-content>
        <div class="forgetpwd0">
            <div class="div-ranks">
                <input type="text" id="name" class="infos" placeholder="请输入姓名" />
            </div>
            <div class="div-phone">
                <input type="text" id="phone" class="infos" placeholder="请输入手机" />
                <a href="javascript:;" class="send1" onclick="sends.send();">发送验证码</a>
            </div>
            <div class="div-ranks">
                <input type="text" id="code" class="infos" placeholder="请输入验证码" />
            </div>
            <div class="div-ranks">
                <input type="password" id="newpwd" class="infos" placeholder="请输入新密码" />
            </div>
            <!--<div class="div-conform">
                <a href="javascript:;" class="conform" onclick="sends.conform();">提交</a>
            </div>-->

            <div ng-click="forgetpwd()" class="bottombutton">设置密码</div>
        </div>


    </ion-content>
</ion-view>