<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="会员登录">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" href="#/app/user/myinfo">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">会员登录</h1>
    </div>
    <!--我来组成头部ed-->
    <ion-content>
        <div class="login">
            <div class="loginbox">
                <div class="form-item">
                    <input class="item-tip" readonly onfocus="myfocust(this)" onblur="myblurt(this)" value="手机号/邮箱" style="width:80px" >
                    <input id="loginname" class="form-input" onfocus="myfocus(this)" onblur="myblur(this)" type="text">
                </div>
                <div class="form-item">
                    <input class="item-tip" readonly onfocus="myfocust(this)" onblur="myblurt(this)" value="密码">
                    <input id="password" class="form-input" onfocus="myfocus(this)" onblur="myblur(this)" type="password">
                </div>
                <div style="margin:0px 20px 10px"><a href="#/app/user/forgetpwd">忘记密码?</a><a href="#/app/user/quickregister" style="float:right">注册新帐号</a></div>
            </div>
            <div ng-click="login()" class="bottombutton">登录</div>
        </div>
    </ion-content>
</ion-view>