
<style>
    .bar .title {
        height: auto;
    }

    .mycollectbox {
        padding-top: 43px;
    }

        .mycollectbox .imgdiv {
            float: left;
            width: 33%;
        }

            .mycollectbox .imgdiv .img {
                width: 100%;
                height: 95px;
            }

        .mycollectbox .rightcontent {
            float: right;
            width: 66%;
            padding-left: 10px;
        }

            .mycollectbox .rightcontent .title {
                padding-bottom: 8px;
                font-weight: bold;
                font-size: 15px;
            }

            .mycollectbox .rightcontent .description {
                font-size: 13px;
                color: #6F6F6F;
                height: 40px;
            }

            .mycollectbox .rightcontent .pt {
                padding-top: 8px;
            }

            .mycollectbox .rightcontent .floatleft {
                float: left;
            }

                .mycollectbox .rightcontent .floatleft .span1 {
                    font-size: 15px;
                    color: goldenrod;
                }

                .mycollectbox .rightcontent .floatleft .span2 {
                    padding-left: 7px;
                    font-size: 12px;
                    color: #A2A2A2;
                }

            .mycollectbox .rightcontent .floatright {
                float: right;
                font-size: 12px;
                color: #A2A2A2;
                padding-right: 5px;
            }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="我的收藏" class="mycollectboxall">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" ng-click="listhistorygoback()">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">我的收藏</h1>
    </div>
    <!--我来组成头部ed-->
    <ion-content>
        <div class="mycollectbox">
            <ion-list>
                <ion-item ng-repeat="x in collectlist" href="#/app/linedetail/{{x.lineID}}">
                    <div ng-click="listent()">
                        <div class="imgdiv">
                            <img class="img" ng-src={{x.imgurl}} alt="旅游图片" />
                        </div>
                        <div class="rightcontent">
                            <div class="title">
                                {{ x.title.length > 30 ? x.title.substring(0,29)+'...':x.title}}
                            </div>
                            <div class="description">
                                {{ x.description.length > 12 ? x.description.substring(0,11)+'...':x.description}}
                            </div>
                            <div class="pt">
                                <div class="floatleft">
                                    <span class="span1">¥{{x.price}}</span><span class="span2">起</span>
                                </div>
                                <div class="floatright">
                                    {{x.date}}  天
                                </div>

                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>