<ion-view hide-nav-bar="true">
</ion-view>
<style>
    .myinfoion .leftimg {
        margin-left: -10%;
        width: 25px;
        vertical-align: middle;
    }
</style>
<ion-view view-title="个人中心" class="myinfoion">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" href="#/app/index" onclick="followfunc()">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">个人中心</h1>
    </div>
    <!--我来组成头部ed-->
    <ion-content>
        <div class="myinfo">
            <div class="head">
                <div style="background-color:#9cd6ea;height:30vh;text-align: center;position:relative;">
                    <img style="border-radius:50%;width:16vh;height:16vh;position:absolute;top: 3vh; left: 0; right: 0;margin: auto;" src="img/头像.png">
                    <div ng-click="zx()" style="position:absolute;top:22vh; left: 0; right: 0;font-size:1.6em;font-weight:300" id="myinfofullName">点击登录</div>
                </div>
                <!--<div style="height:110px"></div>-->
            </div>
            <div class="heightgray"></div>
            <div class="heightgray2"></div>
            <!--<a href="#/app/index">
                <div class="footer2">首页</div>
            </a>
            <div class="heightgray"></div>-->
            <a ng-click="seemyorder()">
                <div class="footer2"><img src="img/订单.png" class="leftimg"><span style="margin-left:5%">订单</span></div>
            </a>
            <div class="heightgray"></div>
            <a ng-click="seemycoup()">
                <div class="footer2"><img src="img/优惠券.png" class="leftimg"><span style="margin-left:5%">优惠券</span></div>
            </a>
            <div class="heightgray"></div>
            <a ng-click="seemypoints()">
                <div class="footer2"><img src="img/积分钻石.png" class="leftimg"><span style="margin-left:5%">积分</span></div>
            </a>
            <div class="heightgray"></div>
            <a>
                <div class="footer2"><img src="img/收藏.png" class="leftimg"><span style="margin-left:5%">我的收藏</span></div>
            </a>
            <div class="heightgray"></div>
            <div class="heightgray2"></div>
            <a>
                <div ng-click="zx()" id="account" class="footer2" style="padding-left:0;text-align:center"><span>登录</span></div>
            </a>
            <div class="heightgray"></div>
        </div>
    </ion-content>
</ion-view>