<ion-view hide-nav-bar="true">
</ion-view>
<style>
    .myinfoion .leftimg {
    margin-left: -10%;width:25px;vertical-align: middle;
    }
</style>
<ion-view view-title="个人中心" class="myinfoion">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" href="#/app/index" onclick="followfunc()">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">个人中心</h1>
    </div>
    <!--我来组成头部ed-->
    <ion-content>
        <div class="myinfo">
            <div class="head">
                <div>
                    <img style="border-radius:50%;width:80px;height:80px; border:solid 2px #ccc;position:absolute;top: 30px; left: 0; right: 0;margin: auto;" src="img/头像.png">
                </div>

                <div style="background-color:#9cd6ea;height:70px;text-align: center;">
                    <div style="padding-top:130px" id="myinfofullName">{{fullName}}</div>

                </div>
                <div style="height:110px"></div>
            </div>
            <div class="heightgray"></div>
            <div class="heightgray2"></div>
            <!--<a href="#/app/index">
                <div class="footer2">首页</div>
            </a>
            <div class="heightgray"></div>-->
            <a ng-click="seemyorder()">
                <div class="footer2"><img src="img/订单.png" class="leftimg"><span style="margin-left:5%">我的订单</span></div>
            </a>
            <div class="heightgray"></div>
            <a ng-click="seemycoup()">
                <div class="footer2"><img src="img/优惠券.png" class="leftimg"><span style="margin-left:5%">我的优惠券</span></div>
            </a>
            <div class="heightgray"></div>
            <a ng-click="seemypoints()">
                <div class="footer2"><img src="img/积分钻石.png" class="leftimg"><span style="margin-left:5%">我的积分</span></div>
            </a>
            <div class="heightgray"></div>
            <a>
                <div ng-click="zx()" id="account" class="footer2"><img src="img/signin.png" class="leftimg"><span style="margin-left:5%">登录</span></div>
            </a>
            <div class="heightgray"></div>
        </div>
    </ion-content>
</ion-view>