<style>
    .myorder {
        font-size: 13px;
        margin: 0 5px;
        color: #beb9c0;
    }

        .myorder .header {
            height: 25px;
        }

            .myorder .header div {
                float: left;
                color: #beb9c0;
                width: 20%;
                text-align: center;
                margin: 5px 0;
                border-bottom: solid 1px;
            }

        .myorder .heightgray {
            background-color: #beb9c0;
            height: 1px;
        }

        .myorder .timeorder {
            height: 35px;
            line-height: 30px;
        }

            .myorder .timeorder div:nth-child(1) {
                float: left;
            }

            .myorder .timeorder div:nth-child(2) {
                float: right;
            }
            .myorder .detailbox div:nth-child(1) {
                float: left;
            }.myorder .detailbox div:nth-child(2) {
                float: right;
            }
</style>
<ion-view view-title="我的订单">
    <ion-content>
        <div class="myorder">
            <div class="header">
                <div>全部订单</div>
                <div>待支付</div>
                <div>已支付</div>
                <div>已取消</div>
                <div>已完成</div>
            </div>
            <div class="timeorder">
                <div>
                    2016-04-08 03:52
                </div>
                <div>
                    订单号:7588919
                </div>
            </div>
            <div class="heightgray"></div>
            <div class="detailbox">
                <div>
                    巴厘岛5晚6日杭州直飞
                </div>
                <div>
                    ¥ 14320
                </div>
                <div>

                </div>
            </div>


        </div>
    </ion-content>
</ion-view>