<ion-view view-title="订单详情">
    <ion-content>
        <div class="orderdetail">
            <div class="ftdiv">{{lineName}}</div>
            <div class="heightgray"></div>
            <div class="orderinfobox">
                <div class="detailtitle">
                    <div></div><div>订单信息</div>
                </div>
                <ul>
                    <li>订单编号 : {{orderCode}}</li>
                    <li>出团时间 : {{departrueDate}}</li>
                    <li>归团时间 : {{returnDate}}</li>
                    <li class="lileft">参加人数 : {{guestsNum}}</li>
                    <li class="liright">{{status}}</li>
                </ul>
            </div>
            <div class="heightgray"></div>
            <div class="seebutton">
                <div ng-click="pay()" class="orderbutton"> 去支付</div>
            </div>
            <div class="heightgray"></div>
            <div class="orderinfobox">
                <div class="detailtitle">
                    <div></div><div>联系人信息</div>
                </div>
                <ul>
                    <li>联系人 : {{contactName}}</li>
                    <li>联系电话 : {{contactMobile}}</li>
                    <li>电子邮箱 : {{contactEmail}}</li>
                </ul>
            </div>
            <div class="heightgray"></div>
            <div class="height10">
            </div>
            <div class="heightgray"></div>
            <div class="orderinfobox">
                <div class="detailtitle">
                    <div></div><div>出行人信息</div>
                </div>
                <ul class="detailul" ng-repeat="x in guests">
                    <li>出行人 : {{x.name}}</li>
                    <li>证件类型 :{{x.guestIDType}} </li>
                    <li>证件ID :{{x.guestID}} </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>