<ion-view view-title="注册">
    <ion-content>
        <div class="quickregister">
            <div class="quickregisterbox">
                <div class="form-item">
                    <input class="item-tip" readonly onfocus="myfocust(this)" onblur="myblurt(this)" value="手机">
                    <input id="phone" class="form-input" onfocus="myfocus(this)" onblur="myblur(this)" type="text" required>
                </div>
                <div class="form-item">
                    <input class="item-tip" readonly onfocus="myfocust(this)" onblur="myblurt(this)" value="密码">
                    <input id="password" class="form-input" onfocus="myfocus(this)" onblur="myblur(this)" type="password">
                </div>
                <div class="form-item">
                    <input class="item-tip" readonly onfocus="myfocust(this)" onblur="myblurt(this)" value="确认密码" style="width:60px">
                    <input id="password2" class="form-input" onfocus="myfocus(this)" onblur="myblur(this)" type="password">
                </div>
            </div>
            <div ng-click="regist()" class="bottombutton">注册</div>
        </div>
    </ion-content>
</ion-view>