<!--效果html开始-->
<div class="sliderContainer fullWidth clearfix">
    <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
        <div class="rsContent">
            <img class="rsImg" src="images/1.jpg" />
        </div>
        <div class="rsContent">
            <img class="rsImg" src="images/2.jpg" />
        </div>
        <div class="rsContent">
            <img class="rsImg" src="images/3.jpg" />
        </div>
        <div class="rsContent">
            <img class="rsImg" src="images/4.jpg" />
        </div>
    </div>
</div>