<div class="kePublic">
    <!--效果html开始-->
    <div class="slider">
        <ul>
            <li><a href="http://www.internetke.com" target="_blank"><img src="images/1.jpg" alt="科e互联网站建设团队" /></a></li>
            <li><a href="http://www.internetke.com" target="_blank"><img src="images/2.jpg" alt="网页特效集锦" /></a></li>
            <li><a href="http://www.internetke.com" target="_blank"><img src="images/3.jpg" alt="JS代码素材库" /></a></li>
            <li><a href="http://www.internetke.com" target="_blank"><img src="images/4.jpg" alt="用心建站用心服务" /></a></li>
            <li><a href="http://www.internetke.com" target="_blank"><img src="images/5.jpg" alt="学会用才能学会写" /></a></li>
        </ul>
    </div>
    <!--效果html结束-->
</div>
