
<head>
<title>带触摸移动端焦点图轮播代码特效</title>
<link rel="stylesheet" href="../css/stylesbanner.css" type="text/css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/yxMobileSlider.js"></script>
</head>
<div class="kePublic">
<!--效果html开始-->
	<div class="slider">
	  <ul>
	    <li><a href="http://www.internetke.com" target="_blank"><img src="../images/1.jpg" alt="科e互联网站建设团队"></a></li>
		<li><a href="http://www.internetke.com" target="_blank"><img src="../images/2.jpg" alt="网页特效集锦"></a></li>
		<li><a href="http://www.internetke.com" target="_blank"><img src="../images/3.jpg" alt="JS代码素材库"></a></li>
		<li><a href="http://www.internetke.com" target="_blank"><img src="../images/4.jpg" alt="用心建站用心服务"></a></li>
		<li><a href="http://www.internetke.com" target="_blank"><img src="../images/5.jpg" alt="学会用才能学会写"></a></li>
	  </ul>
	</div>
  <script>
    $(".slider").yxMobileSlider({width:640,height:320,during:3000})
  </script>
<!--效果html结束-->
</div>
