<style>
    .background_size {
        background-repeat: no-repeat;
        background-size: contain;
        border-style: ridge;
    }

    .imglineCategory img {
        width: 15%;
        margin: 4% 2% 2% 2%;
        text-align: center;
    }

    .qq_size span {
        width: 19.9%;
        display: inline-block;
        text-align: center;
        margin: 2% 0 4% 0;
        font-size: 13px;
        color: gray;
    }

    div .gay span {
        width: 18%;
        display: inline-block;
        margin: 10px 0 10px 0;
        height: 20px;
        text-align: center;
    }

    .grayback {
        background-color: #f5f5f5;
        padding-left: 10px;
        line-height: 30px;
    }

    .graytitleleft {
        height: 15px;
        width: 5px;
        background-color: gray;
        float: left;
        margin-top: 2px;
        margin-right: 10px;
    }

    #teledown {
        width: 40px;
        height: 35px;
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    .linecatebox {
        margin: 3% 0 2% 0;
        overflow: hidden;
        height: 100%;
    }

        .linecatebox .linecategorys {
            width: 20%;
            float: left;
            text-align: center;
            margin: 2% 0;
        }

            .linecatebox .linecategorys img {
                width: 62%;
                height: 62%;
            }

            .linecatebox .linecategorys div {
                font-size: 13px;
                color: #7a7a7a;
            }

    .indexbox {
        padding-top: 60px;
    }

        .indexbox .imgmore {
            width: 20px;
            padding: 0px 0 2px 6px;
            vertical-align: middle;
        }

        .indexbox .amore {
            font-size: 14px;
            color: #a8a8a8;
        }

        .indexbox .aligncenter {
            text-align: center;
        }

        .indexbox .amountbg {
            font-size: 15px;
            color: #fd7204;
            font-weight: 400;
        }

        .indexbox .contentboxdiv {
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
        }

        .indexbox .contentimg {
            width: 100%;
            height: 119px;
        }

        .indexbox .morefont {
            font-size: 16px;
            margin: 8px 10px 0px 10px;
        }

        .indexbox .contentpw {
            float: left;
            width: 50%;
            padding: 1%;
        }

        .indexbox .contentpwp {
            height: 393px;
            margin: 1.5%;
        }

        .indexbox .morefoot {
            margin-top: 8px;
        }

        .indexbox .morehead {
            height: 1px;
            background-color: #ddd;
            margin-bottom: 8px;
        }

        .indexbox .teleimg {
            width: 56px;
        }

    .indebox .telea {
        float: right;
    }

    .indexbox .mountfont {
        padding-left: 7px;
        font-size: 12px;
        color: #a4a4a4;
    }

    .indexbox .heightgray1 {
        height: 1px;
        background-color: #ddd;
    }

    .indexbox .heightgray5 {
        height: 8px;
        background-color: #f3f3f3;
    }

    .indexheader .headertitle {
        height: 48px;
        padding: 6px 5px;
        border: 0;
    }

    .indexheader .button-bar .divh {
        width: 30%;
        text-align: center;
    }

    .indexheader .button-bar .imgh {
        width: 56%;
        height: 56%;
        max-width: 40px;
        max-height: 40px;
    }

    .indexheader .button-bar .imgo {
        width: 50%;
        height: 50%;
        /*padding: 5px 2px;
        margin: 0px 5px;*/
        max-width: 40px;
        max-height: 40px;
        padding: 6%;
    }

    .indexheader .button-bar .inputbg {
        width: 35%;
        height: 32px;
        background-image: url(img/定位图标3.png);
        padding-left: 7.5%;
        padding-top: 0;
        border-right: aliceblue;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #b3b3b3;
        margin: 0 0 0 3px;
        line-height: 39px;
    }

    .indexheader .button-bar .inputsc {
        width: 60%;
        height: 32px;
        background-image: url(img/放大镜2.png);
        padding-left: 10.5%;
        padding-top: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid #b3b3b3;
        border-left: 0px;
        margin: 0 3px 0 0;
        line-height: 39px;
    }

    .cityselectbox {
        text-align: center;
        font-size: 14px;
        display: none;
    }

    .indexheader .bar-stable div {
        margin: auto;
        font-size: 18px;
    }

    .sliderContainer {
        padding-top: 48px;
    }
    /*@media screen and (min-width: 320px) {
        .indexion {
            font-size: 1em;
        }
    }

    @media screen and (min-width: 375px) {
        .indexion .indexbox {
            font-size: 1.15em;
        }
    }

    @media screen and (min-width: 414px) {
        .indexion {
            font-size: 1.3em;
        }
    }*/
    #bartitle.headertitle {
        border: 0;
    }
</style>

<link href="css/royalslider.css?1" rel="stylesheet">
<link href="css/rs-minimal-white.css" rel="stylesheet">
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="锦江旅游" class="indexion">
    <ion-header-bar class="indexheader">
        <div class="bar bar-header bar-stable">
            <div>锦江旅游</div>
        </div>
        <div id="bartitle" class="bar bar-subheader bar-stable headertitle">
            <form>
                <div class="button-bar">
                    <div class="divh"><img src="img/logo.png" class="imgh" /></div>
                    <input id="beginProtxt" class="background_size inputbg" type="search" onclick="citySelect()">

                    <input class="background_size inputsc searchtxt" type="search" placeholder="路线/目的地/景点" ng-click="desSelect()">
                    <div class="divh">
                        <a href="#/app/user/myinfo"><img src="img/个人中心图标.png" class="imgo" /></a>
                    </div>
                </div>
            </form>
        </div>
    </ion-header-bar>
    <ion-content>
        <!--城市选择框-->
        <div id="divcityselect" class="cityselectbox">
            <div class="grayback">当前定位城市</div>
            <div class="gay">
                <span id="nowPro"></span>
            </div>
            <div class="grayback">热门城市</div>
            <div class="gay">
                <span>上海</span>
                <span>杭州</span>
                <span>北京</span>
                <span>成都</span>
                <span>重庆</span>
            </div>
            <div class="gay">
                <span>大连</span>
                <span>东莞</span>
                <span>厦门</span>
                <span>福州</span>
                <span>佛山</span>
            </div>
            <div class="gay">
                <span>赣州</span>
                <span>合肥</span>
                <span>哈尔滨</span>
                <span>邯郸</span>
                <span>常州</span>
            </div>
            <div class="grayback">A</div>
            <div class="gay">
                <span>鞍山</span>
            </div>
            <div class="grayback">B</div>
            <div class="gay">
                <span>北京</span>
                <span>蚌埠</span>
            </div>
            <div class="grayback">C</div>
            <div class="gay">
                <span>成都</span>
                <span>重庆</span>
                <span>长沙</span>
                <span>长春</span>
                <span>常州</span>
            </div>
            <div class="gay">
                <span>常德</span>
                <span>沧州</span>
                <span>常熟</span>
            </div>
            <div class="grayback">D</div>
            <div class="gay">
                <span>大连</span>
                <span>大同</span>
                <span>东莞</span>
                <span>东营</span>
                <span>德阳</span>
            </div>
            <div class="grayback">F</div>
            <div class="gay">
                <span>福州</span>
                <span>佛山</span>
                <span>阜阳</span>
            </div>
            <div class="grayback">G</div>
            <div class="gay">
                <span>广州</span>
                <span>贵阳</span>
                <span>赣州</span>
            </div>
            <div class="grayback">H</div>
            <div class="gay">
                <span>杭州</span>
                <span>合肥</span>
                <span>哈尔滨</span>
                <span>呼和浩特</span>
                <span>邯郸</span>
            </div>
            <div class="gay">
                <span>淮南</span>
                <span>湖州</span>
                <span>黄石</span>
            </div>
            <div class="grayback">J</div>
            <div class="gay">
                <span>济南</span>
                <span>金华</span>
                <span>吉林</span>
                <span>锦州</span>
                <span>嘉兴</span>
            </div>
            <div class="gay">
                <span>济宁</span>
            </div>
            <div class="grayback">K</div>
            <div class="gay">
                <span>昆明</span>
            </div>
            <div class="grayback">N</div>
            <div class="gay">
                <span>南京</span>
                <span>宁波</span>
                <span>南宁</span>
                <span>南昌</span>
                <span>南阳</span>
            </div>
            <div class="gay">
                <span>南通</span>
                <span>南充</span>
            </div>
            <div class="grayback">Q</div>
            <div class="gay">
                <span>泉州</span>
                <span>青岛</span>
            </div>
            <div class="grayback">R</div>
            <div class="gay">
                <span>日照</span>
            </div>
            <div class="grayback">S</div>
            <div class="gay">
                <span>上海</span>
                <span>苏州</span>
                <span>深圳</span>
                <span>沈阳</span>
                <span>石家庄</span>
            </div>
            <div class="gay">
                <span>绍兴</span>
                <span>汕头</span>
            </div>
            <div class="grayback">T</div>
            <div class="gay">
                <span>天津</span>
                <span>太原</span>
                <span>唐山</span>
                <span>台州</span>
                <span>泰州</span>
            </div>
            <div class="grayback">W</div>
            <div class="gay">
                <span>武汉</span>
                <span>无锡</span>
                <span>温州</span>
                <span>芜湖</span>
                <span>乌鲁木齐</span>
            </div>
            <div class="gay">
                <span>潍坊</span>
                <span>威海</span>
            </div>
            <div class="grayback">X</div>
            <div class="gay">
                <span>西安</span>
                <span>厦门</span>
                <span>徐州</span>
                <span>许昌</span>
            </div>
            <div class="grayback">Y</div>
            <div class="gay">
                <span>延安</span>
                <span>宜昌</span>
                <span>烟台</span>
                <span>扬州</span>
                <span>银川</span>
            </div>
            <div class="gay">
                <span>盐城</span>
            </div>
            <div class="grayback">Z</div>
            <div class="gay">
                <span>郑州</span>
                <span>珠海</span>
                <span>中山</span>
                <span>漳州</span>
                <span>株洲</span>
            </div>
            <div class="gay">
                <span>淄博</span>
                <span>镇江</span>
                <span>舟山</span>
            </div>
        </div>
        <!--目的地选择框-->
        <div id="divdesselect" class="cityselectbox">
            <div style="margin-top:10px;height:60px;">
                <input style="margin:auto;height:37px;width:60%;border:solid 1px #ddd;padding-left:12%;background-image: url(img/放大镜2.png);float:left;border-radius:0;border-bottom-left-radius: 5px;border-top-left-radius: 5px;" class="background_size inputsc searchtxt" type="search" placeholder="路线/目的地/景点">
                <input type="button" value="搜索" style="width:24%;height:45px;border-radius:0;border:solid 1px #ddd;border-bottom-right-radius: 5px;border-top-right-radius: 5px;" ng-click="searchlines()">
            </div>
            <div style="float:left;width:24%;">
                <div ng-repeat="x in area" ng-click="search0Dest($event)" style="border: solid 2px #f5f5f5;margin: -2px;padding: 10%;">
                    {{x.areaName}}
                    <div ng-show="false">{{x.Id}}</div>
                </div>
            </div>
            <div style="float:left;width:72%;margin-left:4%">
                <div ng-repeat="x in dest" ng-click="search1Dest($event)" class="searchDest" style="float:left;width:46%;border: solid 2px #f5f5f5;margin: 2%;padding: 2%;">{{x.destName}}</div>
            </div>
        </div>
    </ion-content>
    <ion-content class="indexbox" id="divcontent" on-scroll="getScrollPosition()" delegate-handle="indexDelegate">
        <!--这段轮播图-->
        <div class="sliderContainer fullWidth clearfix">
            <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
            </div>
        </div>
        <div>
            <div class="linecatebox">
                <div class="linecategorys" ng-repeat="x in linecategorys"><div><a href="#/app/linelists/{{x.lineCategory}}"><img src={{x.imgUrl}}></a></div><div>{{x.categoryName}}</div></div>
            </div>
            <!--框头部-->
            <div>
                <div class="heightgray1"></div>
                <div class="heightgray5"></div>
                <div class=morefont><div class="graytitleleft"></div><div>热门路线</div></div>
            </div>
            <!--框内容-->
            <div class="contentpwp">
                <div ng-repeat="playlist in linelistsP">
                    <div class="contentpw">
                        <a ng-click="indexent()" href="#/app/linedetail/{{playlist.lineId}}"><img class="contentimg" src="{{playlist.imageUrls[0]}}" /></a>
                        <div class="contentboxdiv">
                            {{ playlist.name.length > 9 ? playlist.name.substring(0,8)+'...':playlist.name}}
                        </div>
                        <div>
                            <span class="amountbg">¥{{playlist.originalPrice}}</span><span class="mountfont">起</span>
                        </div>
                    </div>
                </div>

            </div>
            <!--查看更多-->
            <div>
                <div class="morehead"></div>
                <a class="amore" href="#/app/linelists/"><div class="aligncenter">更多线路<img class="imgmore" src="img/更多.png" /></div></a>

                <div class="morefoot"></div>
            </div>
            <!--框头部-->
            <div>
                <div class="heightgray1"></div>
                <div class="heightgray5"></div>
                <div class="morefont"><div class="graytitleleft"></div>近期特惠</div>
            </div>
            <!--框内容-->
            <div class="contentpwp">
                <div ng-repeat="playlist in linelistsN">
                    <div class="contentpw">
                        <a href="#/app/linedetail/{{playlist.lineId}}"><img class="contentimg" src="{{playlist.imageUrls[0]}}"></a>
                        <div class="contentboxdiv">
                            {{ playlist.name.length > 9 ? playlist.name.substring(0,8)+'...':playlist.name}}
                        </div>
                        <div>
                            <span class="amountbg">¥{{playlist.originalPrice}}</span><span class="mountfont">起</span>
                        </div>
                    </div>
                </div>

            </div>

            <!--查看更多-->
            <div>
                <div class="morehead"></div>
                <a class="amore" href="#/app/linelists/"><div class="aligncenter">更多特惠<img class="imgmore" src="img/更多.png" /></div></a>
            </div>
            <div class="morefoot"></div>
        </div>
        <div id="teledown"><a href="tel:10101666" class="telea"><img src="img/tele3.png" class="teleimg" /></a></div>

    </ion-content>


</ion-view>