<style>
    .linedetail {
        padding-top: 44px;
    }

        .linedetail .padding5px {
            padding: 5px;
        }

        .linedetail .height_1px {
            height: 1px;
            background-color: #ddd;
        }

        .linedetail .height_5px {
            height: 5px;
            background-color: #f3f3f3;
        }

        .linedetail .circle {
            margin: 9px;
            width: 3px;
            height: 3px;
            background: #6ad0eb;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            float: left;
        }

        .linedetail .thirdCenter {
            float: left;
            width: 33%;
            text-align: center;
        }

        .linedetail .smalltitle {
            font-weight: bold;
            padding: 3px;
            font-size: 14px;
        }

        .linedetail .smallsmtitle {
            margin: 3px 0 3px 0;
            padding: 3px;
            font-size: 14px;
        }

        .linedetail .smallcontent {
            color: #A2A2A2;
            font-size: 12px;
        }

        .linedetail .smallcontent2 {
            color: #888888;
            font-size: 13px;
        }

        .linedetail .smallcontent3 {
            color: #888888;
            font-size: 12px;
            line-height: 18px;
        }

        .linedetail .contentblue {
            color: #3399ff;
        }

        .linedetail .lineblue {
            background-color: #3399ff;
        }


        .linedetail .bottombutton {
            font-weight: bold;
            height: 50px;
            background-color: #3da0fb;
            line-height: 50px;
            text-align: center;
            color: white;
            width: 100%;
        }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="路线详情">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" ng-click="historygoback()">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">路线详情</h1>
    </div>
    <!--我来组成头部ed-->
    <ion-content>
        <div class="linedetail">
            <div style="background-image:url({{image}});height:180px;background-repeat:no-repeat;background-size: 100% ;position:relative">
                <div><img style="height:30px;float:right" src="img/收藏后.png" /></div>

                <div style="color:white;font-size:15px;position:absolute;bottom:2%;left:2%">
                    <span>{{lineCategory}}</span>
                </div>

                <div style="color:white;font-size:15px;position:absolute;bottom:2%;right:2%">
                    <span>{{groupcode}}</span>
                </div>
            </div>
            <div>
                <div class="padding5px">
                    <div class="smalltitle">
                        {{linedetails.name}}
                    </div>
                    <div style="padding:5px">
                        {{linedetails.title}}
                    </div>
                    <div>
                        <span style="font-size:15px;color:goldenrod;padding-left:5px">¥{{price}}</span><span class="smallcontent" style="padding-left:7px;">起</span>
                    </div>
                </div>
                <div class="height_1px"></div>
                <div class="height_5px"></div>
                <div id="groupsheight" class="padding5px groupsheight" style="margin:5px 0">
                    <div style="float:left;width:8%"><img src="img/出团日期.png" style="width:19px;padding-left:3px" onclick="moredays()" /></div>
                    <div id="groupsinheight" class="smallcontent2 groupsinheight" style="float:left;width:23%" onclick="moredays()">出团日期</div>
                    <div style="float:right;width:3.8%"><img src="img/更多.png" style="width:15px" onclick="moredays()" /></div>
                    <div class="smallcontent2" style="float:left;width:16.3%" ng-repeat="playlist in group1">
                        {{playlist.departDate}}
                    </div>
                    <div class="smallcontent2 daysgroup2" style="float:left;width:16.3%;display:none" ng-repeat="playlist in group2">
                        {{playlist.departDate}}
                    </div>
                </div>
                <div style="height:1px;background-color:#ddd"></div>
                <div class="padding5px" style="margin:5px 0">
                    <div class="smalltitle">产品经理推荐:</div>
                    <div class="smallcontent2" style="padding-left:5px">{{recommend}}</div>
                </div>
                <div class="height_1px"></div>
                <div class="height_5px"></div>
                <div class="padding5px" style="height:38px;line-height:28px">
                    <div class="thirdCenter smallcontent2 tunbl1" onclick="lineCl()">
                        行程介绍
                    </div>
                    <div class="thirdCenter smallcontent2 tunbl2" onclick="featureCl()">
                        行程特色
                    </div>
                    <div class="thirdCenter smallcontent2 tunbl3" onclick="expenseCl()">
                        费用详情
                    </div>

                </div>
                <div class="height_1px thirdCenter tunbl4"></div>
                <div class="height_1px thirdCenter tunbl5"></div>
                <div class="height_1px thirdCenter tunbl6"></div>

                <div class="padding5px idline" id="idline" style="overflow:hidden">
                    <div class="smalltitle">行程介绍:</div>

                    <div style="height:67px;font-size:13px" ng-repeat="x in journeys">
                        <div style="float:left">
                            <div><img src="img/路线行程.png" style="width:19px;height:19px; line-height: 25px;padding:3px;margin-top:3px" /></div>
                            <div style="height:19px"><img src="img/路线行程2.png" style="width:19px;margin-top:-7px" /></div><div style="height:19px"><img src="img/路线行程2.png" style="width:19px;margin-top:-7px" /></div>
                        </div>
                        <div>
                            <div class="smalltitle">第{{x.dayNumber}}天:{{x.departurePlace}}-{{x.destination}}</div>
                            <div>项目:{{x.subject}}</div>
                            <div>节目:{{x.journeyDetail[0].programName}}</div>
                        </div>
                    </div>

                </div>

                <div class="padding5px idfeature" style="overflow:hidden">
                    <div class="smalltitle">行程特色:</div>
                    <div class="smallcontent3" ng-bind-html="featureContent" compile-template=compile-template></div>
                </div>

                <div class="padding5px idexpense" style="overflow:hidden">
                    <div class="smalltitle ">费用详情:</div>

                    <div class="smallsmtitle"><img style="height:13px" src="img/行程特色.png" /> 价格包含:</div>
                    <div class="smallcontent3" ng-bind-html="priceIncludeContent" compile-template=compile-template></div>

                    <div class="smallsmtitle"><img style="height:13px" src="img/行程特色.png" />价格不包含:</div>
                    <div class="smallcontent3" ng-bind-html="priceExclusiveContent" compile-template=compile-template></div>
                </div>

                <a class="ordernow" href=""><div class="bottombutton">立即预订</div></a>
            </div>
        </div>
    </ion-content>
</ion-view>
