<!--<ion-view hide-nav-bar="false">
</ion-view>-->
<style>
    .linelistboxh {
        height: 40px;
    }

        .linelistboxh .button-bar .selectbar {
            padding-left: 10%;
            padding-right: 5%;
            max-width: 33%;
            font-size: 14px;
        }

        .linelistboxh .button-bar .selectbarm {
            padding-left: 8%;
            padding-right: 5%;
            max-width: 33%;
            border-right: 0.8px solid #A2A2A2;
            font-size: 14px;
            border-image: url('img/logo4.png') 100 60 1;
        }

    .linelistbox {
        padding-top: 84px;
    }

        .linelistbox .imgdiv {
            float: left;
            width: 33%;
        }

            .linelistbox .imgdiv .img {
                width: 100%;
                height: 95px;
            }

        .linelistbox .rightcontent {
            float: right;
            width: 66%;
            padding-left: 10px;
        }

            .linelistbox .rightcontent .name {
                padding-bottom: 8px;
                font-weight: bold;
                font-size: 15px;
            }

            .linelistbox .rightcontent .title {
                font-size: 13px;
                color: #6F6F6F;
                height: 40px;
            }

            .linelistbox .rightcontent .pt {
                padding-top: 8px;
            }

            .linelistbox .rightcontent .floatleft {
                float: left;
            }

                .linelistbox .rightcontent .floatleft .span1 {
                    font-size: 15px;
                    color: goldenrod;
                }

                .linelistbox .rightcontent .floatleft .span2 {
                    padding-left: 7px;
                    font-size: 12px;
                    color: #A2A2A2;
                }

            .linelistbox .rightcontent .floatright {
                float: right;
                font-size: 12px;
                color: #A2A2A2;
                padding-right: 5px;
            }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="线路选择">
    <!--我来组成头部bg-->
    <div class="bar bar-header bar-stable">
        <a class="headleftback" ng-click="listhistorygoback()">
            <div class="button back-button">
                <img src="img/返回.png">
            </div>
        </a>
        <h1 class="title">线路选择</h1>
    </div>
    <!--我来组成头部ed-->
    <div class="bar bar-subheader bar-stable linelistboxh">

        <div class="button-bar">
            <select class="button button-clear selectbar" ng-model="orderByPrice">
                <option value="">价格</option>
                <option value="originalPrice">从低到高</option>
                <option value="-originalPrice">从高到低</option>
            </select>

            <select class="button button-clear selectbarm" ng-model="fAgencies" ng-options="a.name as a.name for a in agencies">
                <option value="">旅行社</option>
            </select>
            <select class="selectbar button button-clear " ng-model="orderByDay">
                <option value="">天数</option>
                <option value="days">从低到高</option>
                <option value="-days">从高到低</option>
            </select>
        </div>

    </div>
    <ion-content>
        <div class="linelistbox">
            <ion-list>
                <ion-item ng-repeat="playlist in linelists | filter:fAgencies | orderBy:orderByPrice | orderBy:orderByDay" href="#/app/linedetail/{{playlist.lineId}}">
                    <div ng-click="listent()">
                        <div class="imgdiv">
                            <img class="img" ng-src={{playlist.imageUrls[0]}} alt="旅游图片" />
                        </div>
                        <div class="rightcontent">
                            <div class="name">
                                {{ playlist.name.length > 12 ? playlist.name.substring(0,11)+'...':playlist.name}}
                            </div>
                            <div class="title">
                                {{ playlist.title.length > 30 ? playlist.title.substring(0,29)+'...':playlist.title}}
                            </div>
                            <div class="pt">
                                <div class="floatleft">
                                    <span class="span1">¥{{playlist.originalPrice}}</span><span class="span2">起</span>
                                </div>
                                <div class="floatright">
                                    {{playlist.days}}  天
                                </div>

                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>