<style>
    .payway {
        font-size: 13px;
    }

        .payway .border1 {
            border: solid 1px #dcdee1;
        }

        .payway .head {
            margin: 10px;
        }


            .payway .head div {
                margin: 3px 0;
            }

            .payway .head span:first-child {
                color: gray;
            }

            .payway .head span:nth-child(2) {
                font-weight: bold;
                padding-left: 5px;
            }

    .textyellow {
        color: #ff7200;
    }

    .payway .listtyle ul li {
        background-repeat: no-repeat;
        height: 30px;
    }

    .payway .listtyle ul:nth-child(1) li {
        background-image: url('img/储蓄卡支付.png');
    }

    .payway .listtyle ul:nth-child(2) li {
        background-image: url('img/信用卡支付.png');
    }
    .payway .listtyle ul:nth-child(3) li {
        background-image: url('img/微信支付.png');
    }
    .payway .listtyle ul:nth-child(4) li {
        background-image: url('img/支付宝.png');
    }
    .payway .listtyle ul:nth-child(5) li {
        background-image: url('img/applepay.png');
    }

    .payway .listtyle ul {
        padding: 5px 10px;
        border-bottom: solid 1px #e4e4e4;
    }

    .payway .listtyle span:nth-child(1) {
        padding-left: 40px;
        line-height: 30px;
    }

    .payway .listtyle span:nth-child(2) {
        float: right;
    }

      .payway   .bottombutton {
            font-weight: bold;
            height: 50px;
            background-color: #ff7200;
            line-height: 50px;
            text-align: center;
            color: white;
            width: 100%;
        }
      
        .payway .textgray {
            color: gray;
        }

        .payway .textp7 {
            padding: 7px 10px;
        }

        .payway .fonts12 {
            font-size: 12px;
        }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="支付方式">
    <ion-content>
        <div class="payway">
            <div class="head">
                <div><span>线路名称:</span><span>{{lineTitle}}.</span></div>
                <div><span>订单编号:</span><span>{{groupCode}}</span></div>
                <div><span>团期人数:</span><span>{{departDate}} {{pnum}}成人 <span class="childgogo"> {{cnum}}儿童</span></span></div>
                <div><span>为确保您能顺利出行，请在1小时内完成支付.</span><span></span></div>
            </div>
            <div class="border1"></div>
            <div>
                <div class="mid">

                    <div style="overflow:hidden">
                        <div style="float:left;width:25%;padding:5px 10px">
                            费用说明
                        </div>
                        <div style="float:left;width:75% ">
                            <div style="border-bottom:solid 1px #dcdee1;padding:5px 0">
                                <span>成人团费</span> <span style="float:right;padding:0 10px">¥ {{minprice}}</span>
                            </div>
                            <div style="padding:5px 0;" class="childgogo2">
                                <span>儿童价</span> <span style="float:right;padding:0 10px">¥ {{childprice}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="border1"></div>

                    <div class="innamebox" style="height:60px">
                        <div style="float:left;height:30px;width:25%;padding:5px 10px">
                            出行人
                        </div>
                        <div style="float:left;width:75% ">
                            <div style="border-bottom:solid 1px #dcdee1;padding:5px 0" ng-repeat="x in inname">
                                <span>{{x.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="border1"></div>

                </div>
                <div style="padding:5px 10px">应付总额 <img src="img/向上箭头.png" style="float:right;display:none" /><a style="float:right;padding:0 5px;font-size:12px"></a><span style="float:right;padding:0 10px;color: #ff7200"> ¥ {{amount}}</span></div>
                <div style="background-image:url(img/锯齿划线.png);height:20px"></div>
                <div class="listtyle" ng-model="paybox" ng-click="paywaySelect($event)">
                    <ul style="display:none">
                        <li>
                            <span>储蓄卡支付</span>
                            <span><input type="checkbox" /></span>
                        </li>
                    </ul>
                    <ul style="display:none">
                        <li>
                            <span>信用卡支付</span>
                            <span><input type="checkbox" /></span>
                        </li>
                    </ul>
                    <ul style="display:none">
                        <li>
                            <span>微信支付</span>
                            <span><input type="checkbox" /></span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>支付宝</span>
                            <span><input type="checkbox" /></span>
                        </li>
                    </ul>
                    <ul style="display:none">
                        <li>
                            <span style="padding-left:50px">apple pay</span>
                            <span><input type="checkbox" /></span>
                        </li>
                    </ul>
                </div>

                <span class="textp7 textgray fonts12">在线支付享受98折优惠（单房差及儿童价不享受）</span>
                <div ng-click="pay()" class="bottombutton">确认支付</div>
            </div>
        </div>
    </ion-content>
</ion-view>